<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tin tức</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    </style>
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="css/root.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/news.css">
  </head>

  <body>
    <div class="web-container">
      <header class="header-container">
        <div class="header">
          <div class="header-logo"><a href="index.html">LMS</a></div>
          <div id="menu-btn">
            <i class='bx bx-menu-alt-right'></i>
          </div>
          <nav class="header-nav">
            <ul class="header-nav-list">
              <li class="header-nav-item"><a href="index.html" class="header-nav-link">Trang
                  chủ</a></li>
              <li class="header-nav-item"><a href="time-table.html" class="header-nav-link">Thời
                  khóa biểu</a></li>
              <li class="header-nav-item"><a href="mark-search.html" class="header-nav-link">Tra cứu điểm</a></li>
              <li class="header-nav-item"><a href="mark-statistics.html" class="header-nav-link">Bảng
                  điểm</a></li>
              <li class="header-nav-item"><a href="news.html" class="header-nav-link  header-nav-link-active">Tin tức</a></li>
              <li class="header-nav-item"><a href="#about.html" class="header-nav-link">Giới thiệu</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <div id="page">
        <div class="heading">
          <h10 class="heading-title">Tin tức</h10>
          <span class="heading-link">
            <a href="index.html">Trang chủ</a>
            <span>/ Tin tức</span>
          </span>
        </div>
        <section class="news">
          <div class="col-left">
            <div class="news-search">
              <form action="">
                <input type="text" placeholder="Tìm kiếm tin tức">
                <button type="submit">
                  <i class='bx bx-search-alt'></i>
                </button>
              </form>
            </div>
            <div class="news-categories">
              <a href="#news-from-school">Tin tức từ trường</a>
              <a href="#news-from-department">Tin tức từ sở</a>
              <a href="#news-from-manager">Tin tức từ phòng quản lí</a>
            </div>
          </div>
          <div class="col-right">
            <div class="news-body">
              <div class="news-item">
                <div class="news-item-content">
                  <div class="news-item-img">
                    <a href="news-detail.html">
                      <img src="images/news/news.jfif" alt="">
                    </a>
                  </div>
                  <div class="news-item-info">
                    <div class="news-item-title">
                      <a href="news-detail.html">
                        <h2>Tên tin tức</h2>
                      </a>
                    </div>
                    <div class="news-item-description">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione consequuntur eligendi velit
                        blanditiis cupiditate inventore architecto hic dolorum distinctio quasi, expedita voluptates
                        cumque repudiandae voluptatem, obcaecati nostrum debitis placeat necessitatibus.</p>
                    </div>
                    <div class="news-item-date">
                      <p>Ngày đăng: 12/12/2020</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="news-item">
                <div class="news-item-content">
                  <div class="news-item-img">
                    <a href="news-detail.html">
                      <img src="images/news/news.jfif" alt="">
                    </a>
                  </div>
                  <div class="news-item-info">
                    <div class="news-item-title">
                      <a href="news-detail.html">
                        <h2>Tên tin tức</h2>
                      </a>
                    </div>
                    <div class="news-item-description">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione consequuntur eligendi velit
                        blanditiis cupiditate inventore architecto hic dolorum distinctio quasi, expedita voluptates
                        cumque repudiandae voluptatem, obcaecati nostrum debitis placeat necessitatibus.</p>
                    </div>
                    <div class="news-item-date">
                      <p>Ngày đăng: 12/12/2020</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="news-item">
                <div class="news-item-content">
                  <div class="news-item-img">
                    <a href="news-detail.html">
                      <img src="images/news/news.jfif" alt="">
                    </a>
                  </div>
                  <div class="news-item-info">
                    <div class="news-item-title">
                      <a href="news-detail.html">
                        <h2>Tên tin tức</h2>
                      </a>
                    </div>
                    <div class="news-item-description">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione consequuntur eligendi velit
                        blanditiis cupiditate inventore architecto hic dolorum distinctio quasi, expedita voluptates
                        cumque repudiandae voluptatem, obcaecati nostrum debitis placeat necessitatibus.</p>
                    </div>
                    <div class="news-item-date">
                      <p>Ngày đăng: 12/12/2020</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="news-item">
                <div class="news-item-content">
                  <div class="news-item-img">
                    <a href="news-detail.html">
                      <img src="images/news/news.jfif" alt="">
                    </a>
                  </div>
                  <div class="news-item-info">
                    <div class="news-item-title">
                      <a href="news-detail.html">
                        <h2>Tên tin tức</h2>
                      </a>
                    </div>
                    <div class="news-item-description">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione consequuntur eligendi velit
                        blanditiis cupiditate inventore architecto hic dolorum distinctio quasi, expedita voluptates
                        cumque repudiandae voluptatem, obcaecati nostrum debitis placeat necessitatibus.</p>
                    </div>
                    <div class="news-item-date">
                      <p>Ngày đăng: 12/12/2020</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="news-item">
                <div class="news-item-content">
                  <div class="news-item-img">
                    <a href="news-detail.html">
                      <img src="images/news/news.jfif" alt="">
                    </a>
                  </div>
                  <div class="news-item-info">
                    <div class="news-item-title">
                      <a href="news-detail.html">
                        <h2>Tên tin tức</h2>
                      </a>
                    </div>
                    <div class="news-item-description">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione consequuntur eligendi velit
                        blanditiis cupiditate inventore architecto hic dolorum distinctio quasi, expedita voluptates
                        cumque repudiandae voluptatem, obcaecati nostrum debitis placeat necessitatibus.</p>
                    </div>
                    <div class="news-item-date">
                      <p>Ngày đăng: 12/12/2020</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="news-more">
              <a href="news.html">Xem thêm <i class='bx bx-chevron-down'></i> </a>
            </div>
          </div>
        </section>
        <footer class="footer-container">
          <div class="bottom">
            <div class="bottom-item">
              <p class="bottom-item-title">LMS</p>
              <div class="bottom-item-content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic error aut
                neque exercitationem rerum facere dolor architecto dolorum, pariatur beatae, sit et similique placeat
                eveniet quidem perspiciatis iusto animi. Reiciendis!</div>
            </div>
            <div class="bottom-item">
              <p class="bottom-item-title">Giới thiệu</p>
              <div class="bottom-item-content">
                <ul class="bottom-about-list">
                  <li class="bottom-about-item">
                    <a href="#">Về nhà trường</a>
                  </li>
                  <li class="bottom-about-item">
                    <a href="#">Đội ngũ giáo viên</a>
                  </li>
                  <li class="bottom-about-item">
                    <a href="#">Đối tác</a>
                  </li>
                  <li class="bottom-about-item">
                    <a href="#">Hệ thống</a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="bottom-item">
              <p class="bottom-item-title">Tuyển sinh</p>
              <div class="bottom-item-content">
                <ul class="bottom-about-list">
                  <li class="bottom-about-item">
                    <a href="#">Tiêu chí</a>
                  </li>
                  <li class="bottom-about-item">
                    <a href="#">Năm 2023</a>
                  </li>
                  <li class="bottom-about-item">
                    <a href="#">Năm 2022</a>
                  </li>
                  <li class="bottom-about-item">
                    <a href="#">Năm 2021</a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="bottom-item">
              <p class="bottom-item-title">Liên hệ</p>
              <div class="bottom-item-content">
                <ul class="bottom-contact-list">
                  <li class="bottom-contact-item">
                    <i class='bx bx-envelope'></i>
                    <a class="bottom-contact-item-link" href="#">
                      <a href="mailto:example@language-school.com">example@language-school.com</a>
                    </a>
                  </li>
                  <li class="bottom-contact-item">
                    <i class='bx bx-mobile-alt'></i>
                    <span>Hotline: 0987654321</span>
                  </li>

                  <li class="bottom-contact-item">
                    <i class='bx bxs-location-plus'></i>
                    <span>xxx Đường XXX, Phường XXX, Quận XXX, Thành Phố XXX</span>
                  </li>

                </ul>
              </div>
            </div>
          </div>
          <div class="footer">
            <p>
              Privacy Policy / This is a management system website - Copyright © 2022 / All Rights Reserved
            </p>
            <div class="contact">
              <ul class="contact-list">
                <li class="contact-list-item">
                  <a href="#linkedIn"><i class='bx bxl-linkedin'></i></a>
                </li>
                <li class="contact-list-item">
                  <a href="#facebook"><i class='bx bxl-facebook'></i></a>
                </li>
                <li class="contact-list-item">
                  <a href="#twitter"><i class='bx bxl-twitter'></i></a>
                </li>
                <li class="contact-list-item">
                  <a href="#skype"><i class='bx bxl-skype'></i></a>
                </li>
              </ul>
            </div>
          </div>
        </footer>
      </div>
    </div>



    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
    <script src="js/header.js"></script>
  </body>

</html>