.content-container {
  padding-top: 100px;
  background-color: white;
  position: relative;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #01a2a6;
  color: white;
  height: 90px;
  padding: 0 100px;
}

.heading * {
  color: white;
}

.heading-title {
  text-transform: uppercase;
  font-size: 28px;
}

.heading-link * {
  font-size: 14px;
}

.select-box {
  padding: 60px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-semester {
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-box select {
  border: none;
  outline: none;
  background-color: rgb(229, 227, 227);
  border-radius: 20px;
  padding: 8px 26px;
}

select option {
  background-color: white;
}

.table {
  position: relative;
  width: 100%;
  padding: 0 100px 100px;


}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #ccc;
  width: calc(100% / 7);
  padding: 12px;
}

th {
  background-color: #01a2a6;
  color: white;
}

.table-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.table-item-content * {
  color: #000000;
}

th:first-child,
td:first-child {
  width: 30px !important;
}